<h1><%= @post.title %> Comments</h1>

<%= paginate @comments %>

<table>
  <tr>
    <th>Body</th>
    <th>Post</th>

  </tr>

<% @comments.each do |comment| %>
  <p>
    <%= comment.body %>
    <td><%= comment.post.id %></td>
    <div class="post_nav">
      <%= link_to 'Show Replies', post_comment_path(@post, comment) %> |
      <%= link_to 'Edit', edit_post_comment_path(@post, comment) %> |
      <%= link_to 'Destroy', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </p>
<% end %>

<br />

<%= link_to 'New Comment', new_post_comment_path(@post) %>
