<h1 class="title">Ivan the Terrible's Blog</h1>
<%= paginate @posts %>
<%= link_to 'New Post', new_post_path %>

<section class="blog">
<% @posts.each do |post| %>
  <section class="post">
    <h2><%= post.title %></h2>
    <div><%= post.body %></div>
    <div class="post_nav">
      <%= link_to "Hide Comments", "javascript://hide stuff", class: "hide" %>
      <%= link_to 'Show Comments', post_comments_path(post), remote: true, id: "show_comments" %> |
      <%= link_to 'Edit', edit_post_path(post) %> |
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <div class="comment" id='post_comments<%= post.id %>'>
    </div>
  </section>
  <% end %>
</section>

<br />
<%= paginate @posts %>
<%= link_to 'New Post', new_post_path %>
